/*
Theme Name: IAMNEWBIE AngularJS Wordpress Theme
Theme URI: http://wordpress.org/themes/iamnewbie/
Author: Mohd Danish Yusuf
Author URI: http://iamnewbie.com/about/
Description: Wordpress AngularJS theme
Tags: iamnewbie, AngularJS, Wordpress
*/
/*.header h1{
	font-family: 'Montserrat', sans-serif;
}*/
body{
	overflow-x: hidden;
}
p{
	font-family: 'Vollkorn', serif;	
    font-size: 17px;
    letter-spacing: 0.3px;
}
.header{
	background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto Slab', serif;
	color: #555;
	padding: 35px;
	margin-top: -20px;
}
.header h1{
    font-size: 25px;
    letter-spacing: 0.8px;
    margin-bottom: 2px;
}
.header h4{
    font-size: 12px;
    margin-top: 0px;
    letter-spacing: 0.5px;
}
.header li, .header a{
	cursor: pointer;
}
.title-logo{
	cursor: pointer;
}
.category-title{
	font-family: 'Roboto Slab', serif;
}
.post-class{
	margin-bottom: 20px;
}
.post-class a{
	color: #333;
	text-decoration: none;
}
.post-class h3{
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 0px;
}
.featured-image img{
	width: 100%;
}
.post-meta-data ul{
	list-style-type: none;
	padding: 0px;
}
.post-meta-data li{
	float: left;
	margin-right: 10px;
	font-family: 'Roboto Slab', serif;
    font-size: 11px;
    letter-spacing: 0.5px;
}
.read-more{
	color: #8a7a73;
    font-size: 12px;
    border: 2px solid;
    border-radius: 50%;
    padding: 4px 5px;
}
.read-text{
	color: #8a7a73
}
.read-text span{
	font-family: 'Vollkorn', serif;	
}
.read-text:hover{
	color: #8a7a73;
	text-decoration: none;
}

.single-post h2{
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
    text-align: center;
}
.single-post .author-meta{
	font-family: 'Roboto Slab', serif;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.author-meta{
	margin: 10px
}
.author-meta a{
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 1px 8px 3px 8px;
    font-size: 10px;
    border-radius: 4px;
}
.single-post-content p{
	font-size: 20px;
	word-spacing: 2px
}
.single-post-content h2{
	font-weight: 700;
}
.single-post-content h2:before{
	content: '# '
}
.page-category-list ul{
	list-style-type: none;
    margin-top: 20px;
    float: right;
}
.page-category-list li{
	float: left;
	padding: 10px
}
pre[class*="language-"]{
	font-size: 14px
}

.fa-bars{
	font-size: 30px;
	margin-top: 27px;
	cursor: pointer;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.author .col-md-9{
	margin-left: -20px;
}
.author img{
    width: 40px;
    float: right;
    border-radius: 50%;
}
.author h4 a, .author h6 a{
	padding: 0px;
	cursor: pointer;
	color: #333;
	text-decoration: none;
}
.author h6, .author h4{
    font-family: 'Roboto Slab', serif;
	margin: 0px;
	padding: 0px;
}
.author p{
	font-size: 14px;
    margin-top: 8px;
}

.load-more button{
    margin:20px;
    font-family: 'Vollkorn', serif;
    border-radius: 0px;
    border: 2px solid #8a7a73;
}
.footer{
    background-color: #ddd;
}
.footer .container{
    background-color: rgba(51, 51, 51, 0.78);
    color: #fff;
    padding: 40px;
}
.footer ul{
    list-style-type: none;
    padding: 0px;
}
.footer ul li{
    padding: 1px 0px 1px 10px;    
    font-family: 'Vollkorn', serif;
    font-size: 15px;
    border-left: 2px solid #333;
    margin-bottom: 5px;
}
.footer ul li a{
    color: #fff;
}
.footer .about-web{
    color: rgba(255, 255, 255, 0.47);
    /*text-shadow: 0px 1px 1px rgba(204, 204, 204, 0.12)*/
}
.footer .about-web a{
    color: #4CA1AF;
}
.social-links i,.social-links a{
    color: #fff;
    font-size: 24px;
    padding: 6px;
}   
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


@media only screen and (max-width: 500px) {
	.single-post h2{
		font-size: 40px
	}
}
/*.single-post img{
	box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12), 1px 0 2px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24)
}*/